<div class="modal-overlay" (click)="onCancel()">

  <div
    class="modal-box p-4"
    (click)="$event.stopPropagation()">

    <div class="modal-header">

      @if (icon) {
        <svg class="icon me-2" aria-hidden="true">
          <use [attr.href]="'assets/bootstrap-italia/sprites.svg#' + icon"></use>
        </svg>
      }

      <h5 class="mb-0">
        {{ title }}
      </h5>

    </div>

    <div class="modal-body p-2">
      <p>
        {{ message }}
      </p>
      <ng-content>
      </ng-content>
    </div>

    <div class="modal-footer pt-2 justify-content-between">

      @if (showCancel) {
        <button
          type="button"
          class="btn-annulla"
          (click)="onCancel()">
          {{ cancelText }}
        </button>
      }

      <button
        type="button"
        class="btn btn-primary"
        (click)="onConfirm()">
        {{ confirmText }}
      </button>

    </div>

  </div>

</div>
