<div class="color-bg-lightblue">
<div class="info-bar">
  <div class="info-card">
    <svg class="info-icon" aria-hidden="true">
      <use href="assets/bootstrap-italia/sprites.svg#it-file"></use>
    </svg>
    <div class="info-content">
      <span class="info-label">ID servizio</span>
      <span class="info-value">{{ idServizio}}</span>
    </div>
  </div>

  <div class="info-card">
    <svg class="info-icon" aria-hidden="true">
      <use href="assets/bootstrap-italia/sprites.svg#it-arrow-up-right"></use>
    </svg>
    <div class="info-content">
      <span class="info-label">Servizio</span>
      <span class="info-value">{{ servizio }}</span>
    </div>
  </div>

  <div class="info-card">
    <svg class="info-icon" aria-hidden="true">
      <use href="assets/bootstrap-italia/sprites.svg#it-calendar"></use>
    </svg>
    <div class="info-content">
      <span class="info-label">Categoria</span>
      <span class="info-value">{{ Categoria }}</span>
    </div>
  </div>

</div>
</div>
