.section {
    padding: 24px 48px 12px 48px;
}

.richiesta-detail-card {
    border-radius: 10px;
    padding: 20px 24px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.richiesta-detail-card hr {
    border-color: #d0dbe6;
    opacity: 1;
}


:host ::ng-deep .card.rounded-4::after {
  content: none;
}

