<form [formGroup]="filtersForm" class="row mx-4 g-4">

  <div class="col-4">
    <label for="stato">Stato</label>
    <select
      id="stato"
      class="form-select form-select-rounded"
      formControlName="stato">
      <option value="">Tutti...</option>
      @for (item of requestStates; track item.key) {
        <option [value]="item.key">
          {{ item.value }}
        </option>
      }
    </select>
  </div>


  <div class="col-4">
    <label for="categoria" >Categoria</label>
    <select id="categoria"
            class="form-select form-select-rounded"
            formControlName="categoria">
      <option value="">Seleziona una categoria</option>
      @for (categoria of categorie; track categoria.id) {
        <option [value]="categoria.id">
          {{ categoria.name + " - " + categoria.description }}
        </option>
      }
    </select>
  </div>

  <div class="col-4">
    <label for="servizio" >Servizio</label>
    <select id="servizio"
            class="form-select form-select-rounded"
            formControlName="servizio"
            [disabled]="servizi.length === 0">
      <option value="">Seleziona un servizio</option>
      @for (servizio of servizi; track servizio.id) {
        <option [value]="servizio.id">
          {{ servizio.item }}
        </option>
      }
    </select>
  </div>



  <div class="col-4">
    <label class="active" for="dataDa">Data invio - da</label>
    <input
      class="form-control form-control-rounded"
      formControlName="dataDa"
      type="date"
      id="dataDa"
      name="dataDa">
  </div>

  <div class="col-4">
    <label class="active" for="dataA">Data invio - a</label>
    <input
      class="form-control form-control-rounded"
      formControlName="dataA"
      type="date"
      id="dataA"
      name="dataA">
  </div>



</form>


<div class="pt-4 row gap-2 justify-content-end ">
  <button type="button"
          class="btn btn-primary col-2 w-auto"
          (click)="eliminaFiltri()">
    Elimina filtri
  </button>



  <button type="button"
          class="btn btn-primary col-2  w-auto"
          (click)="applicaFiltri()">
    Applica filtri
  </button>
</div>
