<div class="section-padding">
    <app-page-header [titolo]="'Dettaglio richiesta'" [backspace]="'Torna alla lista'" [linkBackspace]="'/home/ticket'">

        <div class="dropdown text-center">
            <button class="btn btn-link p-0 text-decoration-none" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" aria-label="Azioni progetto">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="#0066CC">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                </svg>
                &nbsp;
                <span>Azioni</span>

            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item">
                        <svg class="icon icon-sm icon-secondary">
                            <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-check-circle'"></use>
                        </svg>
                        Approva
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" (click)="showDeleteModal = true">
                        <svg class="icon icon-sm icon-secondary">
                            <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-check-circle'"></use>
                        </svg>
                        Richiedi integrazioni
                    </a>
                </li>
                <li>
                    <a class="dropdown-item">
                        <svg class="icon icon-sm icon-secondary">
                            <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-check-circle'"></use>
                        </svg>
                        Rifiuta
                    </a>
                </li>
            </ul>
        </div>

    </app-page-header>

    <app-info-bar [items]="infoRichiestaTicket">
    </app-info-bar>

</div>

<div class="section-padding">

    <div class="richiesta-detail-card">

        <div class="row mb-3">
            <div class="col-12">
                <h5 class="fw-bold">Richiedente</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <h6 class="fw-bold">
                    <svg class="icon icon-sm">
                        <use href="assets/bootstrap-italia/sprites.svg#it-user"></use>
                    </svg>

                    Dati Richiedente
                    &nbsp;&nbsp;
                    <label class="text-primary border border-primary p-1">
                        Delegato
                    </label>
                </h6>

            </div>
        </div>

        <div class="row my-4">
            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    ID utente
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Nome
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Cognome
                </div>
                <div>test</div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Sede
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Email
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Telefono
                </div>
                <div>test</div>
            </div>
        </div>
    </div>

</div>

<div class="section-padding">

    <div class="richiesta-detail-card color-bg-lightblue border border-primary">

        <div class="row mb-3">
            <div class="col-6">
                <h6 class="fw-bold">
                    Nome progetto Lorem ipsum dolor sit amet.
                </h6>
            </div>

            <div class="col-6 text-end">
                ID 435464767453FDS
            </div>
        </div>

        <hr
            style="color: var(--color-primary); height: 2px; background-color: var(--color-primary); border-radius: 2px;" />

        <div class="row">
            <div class="col-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident possimus commodi, labore laborum,
                    laudantium, modi praesentium sunt voluptates asperiores ab deleniti perspiciatis iusto! Magni omnis
                    obcaecati corrupti sit culpa nesciunt?</p>
            </div>
        </div>

        <div class="d-flex gap-5">
            <div>
                <div class="text-primary fw-semibold small mb-1 d-flex align-items-center gap-1">
                    <svg class="icon icon-sm">
                        <use href="assets/bootstrap-italia/sprites.svg#it-pa"></use>
                    </svg>
                    Servizi
                </div>
                <div>test</div>
            </div>
            <div>
                <div class="text-primary fw-semibold small mb-1 d-flex align-items-center gap-1">
                    <svg class="icon icon-sm">
                        <use href="assets/bootstrap-italia/sprites.svg#it-calendar"></use>
                    </svg>
                    Data creazione
                </div>
                <div>test</div>
            </div>
        </div>

    </div>

</div>

<div class="section-padding">

    <div class="row mb-3">
        <div class="col-6">
            <h5 class="fw-bold">
                Servizi richiesti
            </h5>
        </div>
    </div>

    <div class="accordion-item shadow-card">
        <div class="accordion-header align-content-center d-flex flex-row gap-3 px-4 py-2">

            <div class=" d-flex flex-row align-content-center gap-2">
                <div class="servizio-card__badge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon icon-sm me-2 text-primary"
                        style="fill:
     currentColor !important;
     stroke: none !important;
     background: transparent !important;">

                        <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729
       9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766
       8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289
       4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2
       4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0
       .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978
       9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8
       15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289
       4.096-.777c.324-.147.633-.323.904-.525" />
                    </svg>


                    <span class="storage-badge__text">STORAGE</span>
                </div>
                &nbsp;
                <h6 class="service-name">
                    Aggiungi disco virtuale
                </h6>

            </div>

            <button class="btn btn-link text-primary ms-auto" type="button" (click)="toggleDiscoVirtualeSection()"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-disco-virtuale'"
                [attr.aria-expanded]="isCollapsedDiscoVirtualeSection" [attr.aria-controls]="'collapse-disco-virtuale'">

                @if (isCollapsedDiscoVirtualeSection) {
                <svg class="icon icon-primary icon-sm">
                    <use href="assets/bootstrap-italia/sprites.svg#it-collapse"></use>
                </svg>
                riduci sezione
                } @else {
                <svg class="icon icon-primary icon-sm">
                    <use href="assets/bootstrap-italia/sprites.svg#it-collapse"></use>
                </svg>
                espandi sezione
                }

            </button>

        </div>

        <div class="collapse" [id]="'collapse-disco-virtuale'">

            <div class="section-padding">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ea harum optio soluta ullam possimus nobis
                error voluptatum corporis cumque deserunt delectus voluptas molestiae eveniet aperiam, quibusdam vitae
                vero iusto magnam officiis veniam dolore! Modi rem tempora itaque eos vero!
            </div>

        </div>

    </div>

    <div class="accordion-item shadow-card">
        <div class="accordion-header align-content-center d-flex flex-row gap-3 px-4 py-2">

            <div class=" d-flex flex-row align-content-center gap-2">
                <div class="servizio-card__badge">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="icon icon-sm me-2 text-primary"
                        style="fill:
     currentColor !important;
     stroke: none !important;
     background: transparent !important;">

                        <path d="M4.318 2.687C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729
       9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4c0-.374.356-.875 1.318-1.313M13 5.698V7c0 .374-.356.875-1.318 1.313C10.766
       8.729 9.464 9 8 9s-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289
       4.096-.777A5 5 0 0 0 13 5.698M14 4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2
       4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13zm-1 4.698V10c0
       .374-.356.875-1.318 1.313C10.766 11.729 9.464 12 8 12s-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978
       9.71 6.427 10 8 10s3.022-.289 4.096-.777A5 5 0 0 0 13 8.698m0 3V13c0 .374-.356.875-1.318 1.313C10.766 14.729 9.464 15 8
       15s-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13s3.022-.289
       4.096-.777c.324-.147.633-.323.904-.525" />
                    </svg>


                    <span class="storage-badge__text">STORAGE</span>
                </div>
                &nbsp;
                <h6 class="service-name">
                    Backup VM
                </h6>

            </div>

            <button class="btn btn-link text-primary ms-auto" type="button" (click)="toggleBackupSection()"
                data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse-progetto-backup'"
                [attr.aria-expanded]="isCollapsedBackupSection" [attr.aria-controls]="'collapse-progetto-backup'">

                @if (isCollapsedBackupSection) {
                <svg class="icon icon-primary icon-sm">
                    <use href="assets/bootstrap-italia/sprites.svg#it-collapse"></use>
                </svg>
                riduci sezione
                } @else {
                <svg class="icon icon-primary icon-sm">
                    <use href="assets/bootstrap-italia/sprites.svg#it-collapse"></use>
                </svg>
                espandi sezione
                }

            </button>

        </div>

        <div class="collapse" [id]="'collapse-progetto-backup'">

            <div class="section-padding">
                <div class="richiesta-detail-card color-bg-lightblue">

                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Descrizione
                            </div>

                            <div>
                                Backup manuale o pianificato con policy retention
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum dolor sit amet.
                            </div>

                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, impedit.
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum dolor sit amet.
                            </div>

                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, impedit.
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum dolor sit amet.
                            </div>

                            <div>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, impedit.
                            </div>
                        </div>
                    </div>

                </div>

                <div class="richiesta-detail-card">

                    <div class="row mb-3">
                        <div class="col-12">
                            <h5 class="fw-bold">Dati richiesta</h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">

                            <h6 class="fw-bold">
                                <svg class="icon icon-sm">
                                    <use href="assets/bootstrap-italia/sprites.svg#it-user"></use>
                                </svg>
                                Lorem ipsum
                            </h6>

                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-12">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum
                            </div>
                            <div>lorem ipsum</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum
                            </div>
                            <div>lorem ipsum</div>
                        </div>

                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum
                            </div>
                            <div>lorem ipsum</div>
                        </div>
                    </div>

                    <hr style="height: 2px; border-radius: 2px;" />

                    <div class="row my-4">
                        <div class="col-12">

                            <h6 class="fw-bold">
                                <svg class="icon icon-sm">
                                    <use href="assets/bootstrap-italia/sprites.svg#it-user"></use>
                                </svg>
                                Lorem ipsum
                            </h6>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum
                            </div>
                            <div>lorem ipsum</div>
                        </div>

                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum
                            </div>
                            <div>lorem ipsum</div>
                        </div>

                        <div class="col-4">
                            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                                Lorem ipsum
                            </div>
                            <div>lorem ipsum</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

<div class="section-padding">
    <hr style="height: 2px; border-radius: 2px;" />

    <div class="row my-4">
        <div class="col-12">
            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                Note
            </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptatum officiis, quia ipsa,
                iusto perferendis optio molestiae tempora quisquam amet ea illo perspiciatis saepe! Mollitia nobis
                aspernatur quibusdam hic ipsam a, ut quas itaque quidem consequatur voluptatum excepturi repudiandae ad
                sit soluta in aliquid atque corrupti sapiente. Dolore, ad minus!</div>
        </div>
    </div>
</div>

@if (showDeleteModal) {
<div class="modal-overlay" (click)="showDeleteModal = false">
    <div class="modal-box" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <strong class="mb-0 fw-bold">Richiesta integrazioni</strong>

            <svg class="icon me-2" aria-hidden="true">
                <use href="assets/bootstrap-italia/sprites.svg#it-close-big"></use>
            </svg>
        </div>

        <div class="modal-body">
            <p>
                Compila il messaggio con le informazioni da richiedere all'utente.
            </p>

            <div class="section-padding color-bg-lightblue">

                <div class="row">
                    <div class="col-12">
                        <label for="note">Note</label>
                        <textarea type="text" id="note" placeholder="Inserisci Note"
                            class="form-control"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-annulla" (click)="showDeleteModal = false">Annulla</button>
            <button class="btn-elimina" (click)="showDeleteModal = false">Invia richiesta</button>
        </div>
    </div>
</div>
}