<app-spinner-card [isLoading]="isLoading()"></app-spinner-card>

<div class="section">
    <app-page-header [titolo]="'Dettaglio richiesta'" [backspace]="'Torna alla lista'"
        [linkBackspace]="'/home/ticket/richieste-servizi'">

        <div class="dropdown text-center">
            <button class="btn btn-link p-0 text-decoration-none" type="button" data-bs-toggle="dropdown"
                aria-expanded="false" aria-label="Azioni progetto">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="#0066CC">
                    <path
                        d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                </svg>
                &nbsp;
                <span>Azioni</span>

            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" style="cursor: pointer;">
                        <svg class="icon icon-sm icon-secondary">
                            <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-check-circle'"></use>
                        </svg>
                        Approva
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" style="cursor: pointer;" (click)="isShowRichiestaIntegrazioniModal = true">
                        <svg class="icon icon-sm icon-secondary">
                            <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-pencil'"></use>
                        </svg>
                        Richiedi integrazioni
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" style="cursor: pointer;">
                        <svg class="icon icon-sm icon-secondary">
                            <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-ban'"></use>
                        </svg>
                        Rifiuta
                    </a>
                </li>
            </ul>
        </div>

    </app-page-header>

    <app-info-bar [items]="infoRichiestaTicket">
    </app-info-bar>
</div>

<div class="section">

    <div class="richiesta-detail-card">

        <div class="row mb-3">
            <div class="col-12">
                <h5 class="fw-bold">Richiedente</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <h6 class="fw-bold">
                    <svg class="icon icon-sm">
                        <use href="assets/bootstrap-italia/sprites.svg#it-user"></use>
                    </svg>
                    Dati Richiedente
                    &nbsp;&nbsp;
                    <label class="text-primary border border-primary py-1 px-2">
                        Delegato
                    </label>
                </h6>

            </div>
        </div>

        <div class="row my-4">
            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    ID utente
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Nome
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Cognome
                </div>
                <div>test</div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Sede
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Email
                </div>
                <div>test</div>
            </div>

            <div class="col-4">
                <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                    Telefono
                </div>
                <div>test</div>
            </div>
        </div>
    </div>

</div>


<div class="page-padding">
    @if (richiestaDettaglio) {

    <app-progetto-detail-card [nome]="richiestaDettaglio.project.name"
        [link]="richiestaDettaglio.project.destinationLink!" [descrizione]="richiestaDettaglio.project.description!"
        [numeroServizi]="richiestaDettaglio.services.length" [createdAt]="richiestaDettaglio.createdAt"
        [idProgetto]="richiestaDettaglio.project.id!" [nuovaRichiesta]="nuovaRichiesta">
    </app-progetto-detail-card>

    @for (servizio of richiestaDettaglio.services; track $index ) {
    <app-servizio-accordion [servizio]="servizio" [index]="$index"></app-servizio-accordion>
    }
    }

</div>

<div class="section">
    <hr style="height: 2px; border-radius: 2px;" />

    <div class="row my-4">
        <div class="col-12">
            <div class="fw-semibold small mb-1 d-flex align-items-center gap-1">
                Note
            </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, voluptatum officiis, quia ipsa,
                iusto perferendis optio molestiae tempora quisquam amet ea illo perspiciatis saepe! Mollitia nobis
                aspernatur quibusdam hic ipsam a, ut quas itaque quidem consequatur voluptatum excepturi repudiandae ad
                sit soluta in aliquid atque corrupti sapiente. Dolore, ad minus!</div>
        </div>
    </div>
</div>

@if (isShowRichiestaIntegrazioniModal) {
<div class="modal-overlay" (click)="isShowRichiestaIntegrazioniModal = false">
    <div class="modal-box" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <h5 class="mb-0 fw-bold">Richiesta integrazioni</h5>

            <svg class="icon me-2" style="cursor: pointer;" aria-hidden="true"
                (click)="isShowRichiestaIntegrazioniModal = false;">
                <use href="assets/bootstrap-italia/sprites.svg#it-close"></use>
            </svg>
        </div>

        <div class="modal-body">
            <p class="mb-4">
                <em>
                    <small>Compila il messaggio con le informazioni da richiedere all'utente.</small>
                </em>
            </p>

            <div class="section-modal color-bg-lightblue">

                <div class="row">
                    <div class="col-12">
                        <label for="note">Note</label>
                        <textarea type="text" id="note" placeholder="Inserisci Note" rows="4"
                            class="form-control"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-annulla me-auto" (click)="isShowRichiestaIntegrazioniModal = false">ANNULLA</button>
            <button class="btn-elimina" (click)="isShowRichiestaIntegrazioniModal = false">INVIA RICHIESTA</button>
        </div>
    </div>
</div>
}