<app-section-header
  titolo="Catalogo"
  link="/catalogo"
  testoLink="Vedi catalogo completo">
</app-section-header>

@if (servizi.length > 0) {
  <div #splideRef class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        @for (item of servizi; track item.id) {
          <li class="splide__slide">
            <app-servizio-card [servizio]="item"></app-servizio-card>
          </li>
        }
      </ul>
    </div>
  </div>
} @else {
  <div class="loading-container">
    <p>Caricamento servizi...</p>
  </div>
}