<div class="shadow-card p-4 border-4 rounded">

  <h5>Dati Servizio </h5>

  <div class="d-flex flex-row mt-4" style="gap: 8rem;">

    <div class="">
    <p class="fw-bold mb-1">Id servizio</p>
    <p class="mb-0">{{ servizio?.id }}</p>
    </div>

    <div class="">
    <p class="fw-bold mb-1">Servizio</p>
    <p class="mb-0">{{ servizio?.item }}</p>
    </div>

    <div class="">
    <p class="fw-bold mb-1">Categoria</p>
    <p class="mb-0">{{ servizio?.type?.name }}</p>
    </div>

  </div>
  <hr>



  @if (servizio?.params?.length) {
    <h5>Parametri </h5>
    <div class="d-flex flex-row mt-4" style="gap: 8rem;">
      @for (param of servizio?.params; track param.id) {
        <div class="servizio-detail-card__param-col">
          <p class="fw-bold mb-1">{{ param.name }}</p>
          <p class="mb-0">{{ param.paramType }}</p>
        </div>
      }
    </div>
  }

</div>
