.card-accedi {
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.left-section {
  max-width: 50%;
  padding: 20px;
}

.left-section p {
  font-size: 18px;
}

.info {
  max-width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}



.step-flow {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}

.step-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 0 1 auto;
  text-align: center;
}
.step-col p {
  max-width: 10rem;
}

.step-number {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.step-icon {
  color: var(--color-primary);
}

.step-line {
  flex: 1 1 auto;
  height: 2px;
  background-color: #b3b3b3;
  align-self: flex-start;
  margin-top: calc(1.5rem - 1px);
  margin-left: var(--step-gap, 2px);
  margin-right: var(--step-gap, 2px);
  min-width: 8px;
}
