<div class="section-padding">
  <app-page-header
    [titolo]="'Richiesta Accreditamento'"
    [sottotitolo]="'Compila tutti i campi obbligatori per poter inviare la richiesta.'">
  </app-page-header>
</div>

<form [formGroup]="accreditamentoForm">
  <div class="section-padding color-bg-lightgrey">
    <div class="row g-4 mb-4">

      <h5>Dati Utente</h5>
      <div class="d-flex flex-row align-items-center">
        <svg class="icon me-2" aria-hidden="true">
          <use href="assets/bootstrap-italia/sprites.svg#it-file"></use>
        </svg>
        <h6>Identificazione utente</h6>
      </div>


      <div class="col-6">
        <label for="nome">Nome</label>
        <input
          id="nome"
          type="text"
          formControlName="nome"
          placeholder="Inserisci Nome"
          class="form-control form-control-rounded">
      </div>


      <div class="col-6">
        <label for="cognome">Cognome</label>
        <input
          id="cognome"
          type="text"
          formControlName="cognome"
          placeholder="Inserisci Cognome"
          class="form-control form-control-rounded">
      </div>

      <div class="col-6">
        <label for="codiceFiscale" >Codice fiscale</label>
        <input
          id="codiceFiscale"
          type="text"
          formControlName="codiceFiscale"
          placeholder="Inserisci Codice Fiscale"
          class="form-control form-control-rounded">
      </div>

      <div class="col-6">
        <label for="partitaIVA" >Partita IVA</label>
        <input
          id="partitaIVA"
          type="text"
          formControlName="partitaIVA"
          placeholder="Inserisci Partita IVA"
          class="form-control form-control-rounded">
      </div>

      <div class="col-6">
        <label for="ruolo" >Ruolo aziendale</label>
        <input
          id="ruolo"
          type="text"
          formControlName="ruolo"
          placeholder="Inserisci Ruolo Aziendale"
          class="form-control form-control-rounded">
      </div>


      <div class="d-flex flex-row align-items-center">
        <svg class="icon me-2" aria-hidden="true">
          <use href="assets/bootstrap-italia/sprites.svg#it-file"></use>
        </svg>
        <h6>Contatti</h6>
      </div>

      <div class="col-6">
        <label for="email" >Indirizzo e-mail</label>
        <input
          id="email"
          type="text"
          formControlName="email"
          placeholder="Inserisci indirizzo e-mail"
          class="form-control form-control-rounded">
      </div>

      <div class="col-6">
        <label for="pec">Inserisci PEC</label>
        <input
          id="pec"
          type="text"
          formControlName="pec"
          placeholder="Inserisci PEC"
          class="form-control form-control-rounded">
      </div>

    </div>
  </div>
</form>


<div class="section-padding">
  <div class="line-separator"></div>
  <div class="section-footer">
    <div>
      <button
        class="btn btn-outline-primary">
        Annulla
      </button>
    </div>
    <button
      type="submit"
      [disabled]="accreditamentoForm.invalid"
      (click)="showModal = true"
      class="btn btn-outline-primary">
      Invia Richiesta
    </button>
  </div>
</div>



@if (showModal) {
  <app-app-modal
    title="Invio Nuova Richiesta"
    message="Cliccando su Conferma, la richiesta verrà inviata. Si conferma l'invio?"
    icon="it-warning-circle"
    confirmText="Conferma"
    cancelText="Annulla"
    (confirm)="inviaRichiesta()"
    (cancel)="showModal = false">
  </app-app-modal>
}


@if (showModalRichiesta) {
  <app-app-modal
    title="Richiesta Inviata"
    message="La richiesta è stata inviata correttamente. Quando l'account verrà accreditato ti verrà inviata una notifica."
    icon="it-check-circle"
    confirmText="Vai alla Home"
    [showCancel]="false"
    (confirm)="goToHome()"
    (cancel)="showModalRichiesta = false">
  </app-app-modal>
}
