<div class="page-padding">

  <div class="w-100 pb-4">
    <p>Puoi compilare la richiesta da zero oppure partendo da un progetto esistente. Se scegli da un progetto esistente,
      selezionalo tramite i filtri disponibili. Selezionata la tipologia di richiesta, clicca su "Avanti".</p>
  </div>

  <h5 class=" w-100 pb-5">Scegli il progetto a cui associare la nuova richiesta</h5>

  <form [formGroup]="formGroup" class="pb-5">

    <div class="row w-100 align-items-end g-4">

      <div class="col-md-6">
          <label for="progetto">Inserisci nome progetto</label>
          <select
            id="progetto"
            formControlName="selezione"
            class="form-control form-control-rounded"
            name="progetto">
            <option value="">Seleziona...</option>

            @for (progetto of progetti; track progetto.idProgetto) {
              <option  [ngValue]="progetto">
                {{ progetto.description }}
              </option>
            }
          </select>
      </div>



      <div class="col-md-3">

        <label class="active" for="dataDa">Data invio - da</label>
        <input
          class="form-control form-control-rounded"
          formControlName="dataDa"
          type="date"
          id="dataDa"
          name="dataDa">

      </div>

      <div class="col-md-3">

        <label class="active" for="dataA">Data invio - a</label>
        <input
          class="form-control form-control-rounded"
          formControlName="dataA"
          type="date"
          id="dataA"
          name="dataA">
      </div>



      <div class="w-100 text-end mt-4">
        <button type="submit" class="btn btn-primary"> Cerca Progetto </button>
      </div>


      <div class="">
        @for (progetto of progetti; track progetto.idProgetto) {

        }
      </div>


      <hr class="line-separator mt-5">
      </div>
    <div>
      <div class="form-check-inline">
        <div class="toggles">
          <label for="toggleEsempio1a">
            Vuoi associare questa richiesta ad un nuovo progetto?
            <input type="checkbox" (click)="associaProgetto()" id="toggleEsempio1a">
            <span  class="lever"></span>
          </label>
        </div>
      </div>
    </div>

    @if (formGroup.get('progetto')) {
    <div
      class="collapse"
      [class.show]="newProgetto">

      <h5 class="pt-3">Dati del progetto</h5>
      <div  formGroupName="progetto" class=" mt-3 row gap-4">
        <div class="d-flex col-md-6 flex-column  gap-4">
          <div class="">
            <label class="active" for="nome">Nome</label>
            <input
              class="form-control form-control-rounded"
              formControlName="nome"
              id="nome"
              name="nome">
          </div>

          <div class="">
            <label class="active" for="link">Link destinazione</label>
            <input
              class="form-control form-control-rounded"
              formControlName="link"
              id="link"
              name="link">
          </div>
        </div>

        <div class="">
          <label class="active" for="descrizione">Descrizione</label>
          <input
            id="note"
            class="form-control form-control-rounded"
            rows="5"
            formControlName="descrizione"
            [attr.maxlength]="maxNoteLength">
        </div>
      </div>
    </div>
    }

  </form>

</div>
