<div class="section-padding">
  <div class="line-separator"></div>
  <div class="section-footer">
      @if (currentStep != 1) {
        <button
          class="btn btn-outline-primary"
          (click)="previous.emit()">
          <svg class="icon icon-sm icon-primary"><use href="assets/bootstrap-italia/sprites.svg#it-arrow-left"></use></svg>
          Indietro
        </button>
      } @else {
        <div>
          <button (click)="annulla.emit()"
            class="btn btn-outline-primary">
            Annulla
          </button>
        </div>
      }

      @if (currentStep != 3) {
      <button
          class="btn btn-outline-primary"
          (click)="next.emit()"
          [disabled]="!canGoNext">
          Avanti
        <svg class="icon icon-sm icon-primary"><use href="assets/bootstrap-italia/sprites.svg#it-arrow-right"></use></svg>
        </button>
      } @else {
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="invia.emit()">
          Invia
        </button>
      }
  </div>
</div>
