<div class="line-separator"></div>
<div class="section-footer">

  @if (currentStep != 1) {
    <button
      class="btn btn-outline-primary"
      (click)="previous.emit()">
      Indietro
    </button>
  } @else {
    <div>
      <button
        class="btn btn-outline-primary">
        Annulla
      </button>
    </div>
  }

  @if (currentStep != 4) {
  <button
      class="btn btn-outline-primary"
      (click)="next.emit()">
      Avanti
    </button>
  } @else {
    <button
      class="btn btn-outline-primary">
      Invia
    </button>
  }

</div>
