@if (mode === 'tickets') {
  <app-table
    [data]="listaTicket"
    [columns]="colonneTicket"
    defaultSortColumn="code"
    defaultSortDir="asc">

    <ng-template #cellTemplate let-row let-col="column">
      @if (col.key === 'state.config.label') {
        <span class="badge-stato"
          [style.border-color]="row.state?.config?.colorBorder"
          [style.background-color]="row.state?.config?.colorBg"
          [style.color]="row.state?.config?.colorText">
          {{ row.state?.config?.label }}
        </span>
      }

      @else if (col.key === 'code') {
        <span class="fw-bold text-dark">{{ row.code }}</span>
      }

      @else if (col.key === 'azioni') {


        <a class="btn btn-link p-0 text-decoration-none" [routerLink]="['/home/ticket/dettaglio-ticket', row.id]" aria-label="Visualizza dettaglio ticket">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20" fill="#0066CC">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </a>
      }

      @else {
        {{ getValue(row, col.key) }}
      }
    </ng-template>
  </app-table>

} @else {
  <app-table
    [data]="listaRichieste"
    [columns]="colonneRichieste"
    defaultSortColumn="requestId"
    defaultSortDir="asc">

    <ng-template #cellTemplate let-row let-col="column">
      @if (col.key === 'requestId') {
        <span class="fw-bold text-dark">{{ row.requestId }}</span>
      }

      @else if (col.key === 'state.config.label') {
        <span class="badge-stato"
          [style.border-color]="row.state?.config?.colorBorder"
          [style.background-color]="row.state?.config?.colorBg"
          [style.color]="row.state?.config?.colorText">
          {{ row.state?.config?.label }}
        </span>
      }

      @else if (col.key === 'azioni') {



        <div class="d-flex flex-row gap-2">
          <button  [routerLink]="['/home/richieste/dettaglio-richiesta', row.requestId]" type="button" class="btn btn-link p-0 text-decoration-none" >
            <svg class="icon icon-primary icon-sm me-1" aria-hidden="true">
              <use href="assets/bootstrap-italia/sprites.svg#it-zoom-in"></use>
            </svg>
          </button>

          <button type="button" class="btn btn-link p-0 text-decoration-none" >
            <svg class="icon icon-primary icon-sm me-1" aria-hidden="true" >
              <use href="assets/bootstrap-italia/sprites.svg#it-tool"></use>
            </svg>
          </button>

        </div>
      }

      @else {
        {{ getValue(row, col.key) }}
      }
    </ng-template>
  </app-table>
}
