<div class="section-padding">
  @if(progettoDetail) {
    <app-page-header
      [titolo]="'Dettaglio Progetto'"
      [backspace]="'Torna alla lista'"
      [linkBackspace]="'/home/progetti'">
    </app-page-header>
  }
</div>


@if (infoProgetto) {
  <app-info-bar
    [items]="infoProgetto">
  </app-info-bar>
}

<div class="section-padding">
  @if (progettoDetail) {
    <app-progetto-detail-card
      [nome]="progettoDetail.nome"
      [link]="progettoDetail.destinationLink"
      [numeroServizi]="progettoDetail?.servizi?.length ?? 0"
      [descrizione]="progettoDetail.description"
      [nuovaRichiesta]="nuovaRichiesta">
    </app-progetto-detail-card>
  }


  @if(progettoDetail?.servizi) {
    @for (servizio of progettoDetail?.servizi; track $index) {
      <app-servizio-accordion
        [servizio]="servizio">
      </app-servizio-accordion>
    }
  }

  <h5>Delegati</h5>
  <!-- mock -->
  <app-delegato-card>
  </app-delegato-card>

</div>




