<form [formGroup]="filtersForm" class="row mb-4 gap-3 align-items-end">

  <div class="row mb-4 align-items-end justify-content-evenly ">
    <div class="col-12 col-md-5">
      <label for="categoria" class="form-label">Categoria</label>
      <select id="categoria"
              class="form-select form-select-rounded"
              formControlName="categoria">
        <option value="">Seleziona Categoria</option>
        @for (categoria of categorie; track categoria.id) {
          <option [value]="categoria.id">
            {{ categoria.name + " - " + categoria.description }}
          </option>
        }
      </select>
    </div>

    <div class="col-12 col-md-3">
      <label for="servizio" class="form-label">Servizio</label>
      <select id="servizio"
              class="form-select form-select-rounded"
              formControlName="servizio"
              [disabled]="servizi.length === 0">
        <option value="">Seleziona Servizio</option>
        @for (servizio of servizi; track servizio.id) {
          <option [value]="servizio.id">
            {{ servizio.item }}
          </option>
        }
      </select>
    </div>

  <div class="col d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-primary"
      (click)="cercaServizi()">
      Cerca
    </button>
  </div>
  </div>

</form>
