
.incident-card {
  background-color: #ffffff;
  border-radius: 12px;
  width: auto;
  min-height: 220px;
  padding: 20px;
  box-sizing: border-box;
}

.card-details {
  display: flex;
  flex-direction: row;
 justify-content: space-between;

}

