@import '@splidejs/splide/css';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400&display=swap');

:root {
  /* Colori */
  --color-primary: #0066CC;
  --color-primary-dark: #17324D;
  font: "Titillium Web", sans-serif;

}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ensures form elements use your standard font stack too */
input, button, textarea, select {
  font-family: inherit;
}