<div class="bg-white rounded-3 shadow-card px-4 py-3 w-100" style="min-height: auto !important;">

  <div class="request-row text-muted small w-100">

    <div class="text-dark fw-bold text-truncate border-end border-light pe-4">
      {{ dati.requestId }}
    </div>

    <div class="text-dark text-truncate border-end border-light px-4">
      {{ dati.project.name }}
    </div>

    <div class="text-dark  border-end border-light px-4">
      @if (dati.services.length > 1) {

              <div class="dropdown">
                <button
                  class="btn btn-link p-0 text-decoration-underline servizi-link"
                  type="button"
                  data-bs-toggle="dropdown"
                  data-bs-display="static"
                  aria-expanded="false">
                  {{ dati.services?.length }} servizi richiesti
                </button>
                <ul class="dropdown-menu dropdown-menu-end servizi-dropdown">
                  <div class="dropdown-header d-flex flex-row align-items-center justify-content-between " >
                    <h6>Servizi Richiesti</h6>
                    <svg class="icon icon-primary" aria-hidden="true">
                      <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-close'"></use>
                    </svg>
                  </div>
                  @for (s of dati.services; track s.item) {
                    <li><span class=" p-4">{{ s.item }}</span></li>
                  }
                </ul>
              </div>

      } @else if (dati.services.length === 1) {
        <span class="text-truncate d-block">{{ dati.services[0].item }}</span>
      }
    </div>

    <div class="d-flex align-items-center text-dark px-4 text-truncate">
      <svg class="icon me-2 flex-shrink-0"><use href="assets/bootstrap-italia/sprites.svg#it-calendar"></use></svg>
      <span class="text-truncate">{{ dati.createdAt }}</span>
    </div>

    <div class="text-end ms-auto">
      <button (click)="apriDettaglio()" type="button" class="btn btn-link p-0 text-decoration-none" aria-label="Visualizza Dettagli">
        <svg class="icon icon-sm me-1 icon-primary"
             aria-hidden="true">
          <use href="assets/bootstrap-italia/sprites.svg#it-zoom-in"></use>
        </svg>
      </button>
    </div>

  </div>
</div>
