/* Sovrascriviamo l'altezza minima nativa delle card di Bootstrap Italia per renderle sottili */
.richieste-in-corso-card, 
.card-bg {
  min-height: auto !important;
  height: auto !important;
}

/* Rende i separatori verticali nativi di Bootstrap leggermente più discreti */
.border-end.border-light {
  border-color: #f1f5f9 !important;
}