.section {
    padding: 12px 48px;
}

.section-modal {
    padding: 12px 24px;
}

.richiesta-detail-card {
    border-radius: 10px;
    padding: 20px 24px;
    margin-bottom: 1.5rem;
}

.richiesta-detail-card hr {
    border-color: #d0dbe6;
    opacity: 1;
}

.upload-area {
    border: 2px dashed;
    /* colore tratteggio */
    border-radius: 12px;
    padding: 2rem;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    color: #0d6efd;
    background-color: var(--color-primary-bg-light);

    transition: all .2s ease;
}

.upload-area:hover {
    background-color: var(--color-primary-bg-light);
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
}

.upload-area .icon {
    fill: currentColor;
}

/* Modal */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-box {
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

.modal-header {
    display: flex;
    align-items: center;
    padding: 20px 24px 16px;
    border-bottom: 1px solid #d0dbe6;
}

.modal-header .icon-danger {
    /*fill: #d9364f;*/
    fill: #0066cc;
    width: 22px;
    height: 22px;
}

.modal-body {
    padding: 20px 24px;
    line-height: 1.6;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 16px 24px;
    border-top: 1px solid #d0dbe6;
}

.btn-annulla {
    background: none;
    border: 1px solid #d0dbe6;
    border-radius: 6px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    color: #17324d;
}

.btn-annulla:hover {
    background: #f2f7fc;
}

.btn-elimina {
    background: #0066cc;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
}

.btn-elimina:hover {
    background: #0066cc;
}
