 <div class="user-logged dropdown-toggle d-flex align-items-center"
      data-bs-toggle="dropdown"
      aria-expanded="false">

      <svg class="icon icon-white user-icon">
        <use href="assets/bootstrap-italia/sprites.svg#it-user"></use>
      </svg>

      <div class="user-info">
        <span class="user-name">{{ name  }}</span>
        <span class="user-role">{{ role }}</span>
      </div>

  </div>

 <div class="user-dropdown dropdown-menu dropdown-menu-end rounded-2 mt-3 p-3">

   <strong>
     <p class="mb-1">{{ name }}</p>
   </strong>

   <p class="mb-1 text-secondary">{{ role }}</p>

   <p class="mb-3 text-secondary">ID: 35435435</p>

   <div class="color-bg-lightblue gap-2 p-2 d-flex flex-column">
     <strong>
       <a href="/home">Cambia profilo</a>
     </strong>

     <strong>
       <a href="/home/deleghe">Gestisci delegati</a>
     </strong>
   </div>

   <hr>

   <strong>
     <a href="/home">Logout</a>
   </strong>
 </div>


