.user-logged {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    margin-left: auto;
    gap: 10px;
}

.user-logged .user-icon {
    width: 22px !important;
    height: 22px !important;
    fill: #ffffff !important;
    flex-shrink: 0 !important;
    display: block;
}


.user-logged .user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-logged .user-name {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    margin-bottom: 2px !important;
    color: #ffffff !important;
}

.user-logged .user-role {
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.1 !important;
    color: rgba(255, 255, 255, 0.7) !important;
}


.user-dropdown {
  min-width: 250px;
}
