<div class="delegato-card  d-flex flex-column shadow-card p-4 rounded-4" >
  <div class="row">
    <div class="col-3">
      <div class="d-flex flex-row">
        <svg class="icon me-2 icon-primary" aria-hidden="true">
          <use href="assets/bootstrap-italia/sprites.svg#it-user"></use>
        </svg>
        <div>
          <p class="fw-semibold mb-1">ID delegato</p>
          <p>34543543</p>
        </div>
      </div>
    </div>

    <div class="col-3">
      <p class="fw-semibold mb-1" >Nome</p>
      <p>Gianni</p>
    </div>
    <div class="col-3">
      <p class="fw-semibold mb-1">Cognome</p>
      <p>Pippo</p>
    </div>
  </div>

  <div class="row">

    <div class="col-3">
      <p class="fw-semibold mb-1">Email</p>
      <p>gianni.pippo.com</p>
    </div>
    <div class="col-3">
      <p class="fw-semibold mb-1">PEC</p>
      <p>gianni.pippo.com</p>
    </div>
    <div class="col-3">
      <p class="fw-semibold mb-1">Telefono</p>
      <p>324838294</p>
    </div>
  </div>

  <hr style="color: var(--color-primary); height: 2px; background-color: var(--color-primary); border-radius: 2px;">

  <div class="d-flex flex-row justify-content-between">
    <button
      type="button"
      class="col d-flex btn btn-link text-primary fw-semibold p-0 gap-1">
      <svg class="icon icon-primary icon-sm">
        <use href="assets/bootstrap-italia/sprites.svg#it-ban"></use>
      </svg>
      Sospendi Delega
    </button>

    <button
      type="button"
      class="col d-flex justify-content-end btn btn-link text-primary fw-semibold p-0 gap-1">
      <svg class="icon icon-primary icon-sm">
        <use href="assets/bootstrap-italia/sprites.svg#it-search"></use>
      </svg>
      Vedi Profilo
    </button>
  </div>


</div>
