<app-table [data]="listaRichiesteTicket" [columns]="colonneRichiesteTicket" defaultSortColumn="idRichiesta"
    defaultSortDir="asc">

    <ng-template #cellTemplate let-row let-col="column">

        @if (col.key === 'state.config.label') {

        @if (row.statoRichiesta === 'In elaborazione') {
        <span class="badge-stato badge-info">
            <svg class="icon icon-xs" aria-hidden="true">
                <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-external-link'"></use>
            </svg>
            {{ row.statoRichiesta }}
        </span>
        }

        @if (row.statoRichiesta === 'In valutazione') {
        <span class="badge-stato badge-warning">
            <svg class="icon icon-xs" aria-hidden="true">
                <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-refresh'"></use>
            </svg>
            {{ row.statoRichiesta }}
        </span>
        }

        @if (row.statoRichiesta === 'Completata') {
        <span class="badge-stato badge-success">
            <svg class="icon icon-xs" aria-hidden="true">
                <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-check-circle'"></use>
            </svg>
            {{ row.statoRichiesta }}
        </span>
        }

        @if (row.statoRichiesta === 'Incompleta') {
        <span class="badge-stato badge-success">
            <svg class="icon icon-xs" aria-hidden="true">
                <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-check-circle'"></use>
            </svg>
            {{ row.statoRichiesta }}
        </span>
        }

        @if (row.statoRichiesta === 'Rifiutata') {
        <span class="badge-stato badge-danger">
            <svg class="icon icon-xs" aria-hidden="true">
                <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-ban'"></use>
            </svg>
            {{ row.statoRichiesta }}
        </span>
        }

        @if (row.statoRichiesta === 'Inviate') {
        <span class="badge-stato badge-primary">
            <svg class="icon icon-xs" aria-hidden="true">
                <use [attr.href]="'assets/bootstrap-italia/sprites.svg#it-mail'"></use>
            </svg>
            {{ row.statoRichiesta }}
        </span>
        }

        }

        @if (col.key === 'idRichiesta') {
        <span class="fw-bold text-dark">{{ row.idRichiesta }}</span>
        }


        @else if (col.key === 'dataInvio') {
          <span class=" text-dark">{{ row.dataInvio | date: 'dd/MM/yyyy - HH:mm' }}</span>
        }


        @else if (col.key === 'azioni') {

          <div class="align-items-center">
            <button [routerLink]="['/home/ticket/richieste-servizi/dettaglio-richiesta-ticket/', row.idRichiesta]" type="button" class="btn btn-link p-0 text-decoration-none" >
              <svg class="icon icon-primary icon-sm me-1" aria-hidden="true">
                <use href="assets/bootstrap-italia/sprites.svg#it-zoom-in"></use>
              </svg>
            </button>
          </div>
        } @else {
        {{ getValue(row, col.key) }}
        }

    </ng-template>
</app-table>
