<nav class="banner">
  <h3 class="fw-normal">Regione Abruzzo</h3>
  <div class="user">
      <app-user ></app-user>
    </div>
</nav>

<div class="nav">
    <h1>Portale Unico Provisioning</h1>
    <nav class="nav-links">
        <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a routerLink="/progetti" routerLinkActive="active">Progetti</a>
        <a routerLink="/richieste" routerLinkActive="active">Richieste</a>
        <a routerLink="/incident" routerLinkActive="active">Incident</a>
        <a routerLink="/catalogo" routerLinkActive="active">Catalogo</a>
    </nav>
</div>
