<div class="custom-table-wrapper">

  @if (pagination) {
    <div class="d-flex justify-content-between align-items-center mb-3 table-header-bar text-uppercase fw-bold text-secondary" style="font-size: 13px; letter-spacing: 0.5px;">

      <div class="d-flex align-items-center gap-3">
        <div class="d-flex align-items-center gap-2">
          <span>Visualizza</span>
          <select class="form-select form-select-rounded form-select-sm d-inline-block w-auto border-secondary-subtle"
                  [ngModel]="pageSize"
                  (ngModelChange)="onPageSizeChange($event)"
                  style="color: #002b55;">
            <option [value]="5">5 per pagina</option>
            <option [value]="10">10 per pagina</option>
            <option [value]="20">20 per pagina</option>
          </select>
        </div>
        <div class="ms-2">
          <span>Totale: {{ data.length }}</span>
        </div>
      </div>

      <div class="d-flex align-items-center gap-2">
        <button class="btn btn-link p-1 text-decoration-none"
                [disabled]="currentPage === 1"
                (click)="previousPage()"
                style="color: #002b55;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
        </button>

        <span class="px-3 py-1 border rounded bg-white text-dark" style="font-weight: 700;">
        {{ currentPage }}
      </span>
        / {{totalPages}}

        <button class="btn btn-link p-1 text-decoration-none"
                [disabled]="currentPage >= totalPages"
                (click)="nextPage()"
                style="color: #002b55;">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>

    </div>

  }

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          @if (selectable) {
            <th class="col-checkbox">
              <!--
              <input
                type="checkbox"
                [checked]="allSelected"
                (change)="toggleAll($event)"
              />-->
            </th>
          }

          @for (col of columns; track col.key) {
            <th [className]="col.class || ''" (click)="sort(col.key)" style="cursor: pointer;">
              {{ col.label }}
              @if (col.sortable) {
                <span class="sort-icon" [class.active]="sortColumn === col.key">
                  {{ sortColumn === col.key ? (sortDir === 'asc' ? '▲' : '▼') : '↕' }}
                </span>
              }
            </th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of paginatedData; track row) {
          <tr
            [class.dropdown-open]="openedRow === row"
            [class.row-selected]="selectedRow === row">

              @if (selectable) {
                <td class="col-checkbox">
                  <input
                    type="checkbox"
                    style="width: 1rem; height: 1rem;"
                    [checked]="isSelected(row)"
                    (change)="toggleRow(row, $event)"
                  />
                </td>
              }
            @for (col of columns; track col.key) {
              <td [className]="col.class || ''">
                <ng-container *ngTemplateOutlet="cellTemplate ? cellTemplate : defaultCell; context: { $implicit: row, column: col }"></ng-container>
                <ng-template #defaultCell>{{ getNestedValue(row, col.key) }}</ng-template>
              </td>
            }
          </tr>
        } @empty {
          <tr>
            <td [attr.colspan]="columns.length">
              <app-alert type="empty"></app-alert>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

</div>
