<p>
  Seleziona il tipo di servizio da richiedere e compila tutti i campi della richiesta
</p>

<h5>Seleziona il servizio da richiedere</h5>

<form [formGroup]="formGroup" class="mb-4">


  <div class="column">
    <label>Categoria</label>

    <select formControlName="categoria">
      <option value="">Seleziona...</option>

      @for (categoria of categorie; track categoria.id) {
        <option [value]="categoria.id">
          {{ categoria.name + " - " + categoria.description }}
        </option>
      }
    </select>
  </div>


  <div class="mb-3">
    <label class="form-label">Servizio</label>

    <select
      class="form-select"
      formControlName="servizio"
      [disabled]="servizi.length === 0">

      <option value="">Seleziona un servizio</option>

      @for (servizio of servizi; track servizio.id) {
        <option [value]="servizio.id">
          {{ servizio.item }}
        </option>
      }
    </select>
  </div>

</form>


@if (servizio) {
  <app-dynamic-form
    [params]="servizio.params"
    [formGroup]="paramsForm">
  </app-dynamic-form>
}
