<p> Seleziona il tipo di servizio da richiedere
  e compila tutti i campi della richiesta</p>

<h5> Seleziona il servizio da richiedere</h5>

<form class="mb-4">

  <div class="mb-3">
    <label class="form-label">
      Servizio
    </label>

    <select
      class="form-select"
      [(ngModel)]="selectedServiceId"
      name="service"
      (ngModelChange)="onServizioChange($event)">

      <option value="">Seleziona un servizio</option>

      @for (servizio of servizi; track servizio.id) {
        <option [value]="servizio.id">
          {{ servizio.item }}
        </option>
      }

    </select>
  </div>

</form>

@if (servizio) {
  <app-dynamic-form
    [params]="servizio.params">
  </app-dynamic-form>
}
