
<div class="section-padding">

  <app-page-header
    [titolo]="'Nuova Richiesta'">
  </app-page-header>


  <app-wizard-bar
    [items]="wizardItems"
    [currentStep]="currentStep">
  </app-wizard-bar>
</div>

@if(currentStep === 1) {
  <app-scegli-progetto
    [formGroup]="richiestaForm.controls['progettoForm']"
    (nuovaRichiesta)="onNuovaRichiesta($event)">
  </app-scegli-progetto>
}

@if(currentStep === 2) {
  <app-seleziona-servizio
    [formGroup]="richiestaForm.controls['servizioForm']">
  </app-seleziona-servizio>
}

@if(currentStep === 3) {
  <app-controlla-invia
    [formGroupProgetto]="richiestaForm.controls['progettoForm']"
    [formGroupServizi]="richiestaForm.controls['servizioForm']"
    [formGroupNote]="noteForm"
    [nuovaRichiesta]="nuovaRichiesta">
  </app-controlla-invia>
}

<app-section-footer
  [currentStep]="currentStep"
  [canGoNext]="canGoNext()"
  (next)="nextStep()"
  (previous)="previousStep()"
  (invia)="showModal = true">
</app-section-footer>

@if (showModal) {
  <div class="modal-overlay" (click)="showModal = false">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <svg class="icon me-2" aria-hidden="true">
          <use href="assets/bootstrap-italia/sprites.svg#it-warning-circle"></use>
        </svg>
        <h6 class="mb-0">Invio Nuova Richiesta</h6>
      </div>
      <div class="modal-body">
        <p class="mb-0">
          Cliccando su Conferma, la richiesta verrà inviata.
          <br>
          <strong>Si conferma l'invio?</strong>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-annulla" (click)="showModal = false">Annulla</button>
        <button type="button" class="btn btn-primary" (click)="inviaRichiesta()" [disabled]="isInviando">Conferma</button>
      </div>
    </div>
  </div>
}

@if (showModalSuccess) {
  <div class="modal-overlay">
    <div class="modal-box" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <svg class="icon me-2" aria-hidden="true">
          <use href="assets/bootstrap-italia/sprites.svg#it-check-circle"></use>
        </svg>
        <h6 class="mb-0">Richiesta Inviata</h6>
      </div>
      <div class="modal-body">
        <p class="mb-0">
          La richiesta è stata inviata correttamente.
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="goToHome()">Vai alla Home</button>
      </div>
    </div>
  </div>
}

<!--
<button class="btn btn-primary" (click)="debugForm()">DEBUG FORM</button> -->

