<form [formGroup]="formGroup">
  <div formArrayName="servizi">

    @for (servizio of serviziArray.controls; track $index; let i = $index) {
      <div [formGroupName]="i" class="row align-items-end mb-3 p-2 border rounded d-flex">

        <div class="col-12 mb-2">
          <h5 class="mb-0">Servizio {{ i + 1 }}</h5>
        </div>

        <div formGroupName="params" class="row">

          @for (paramName of getParamNames(i); track paramName) {
            <div class="col-md-3 col-sm-6 mb-2">
              <label [for]="paramName" class="form-label">
                {{ paramName }}
              </label>

              <input
                class="form-control"
                type="number"
                [id]="paramName"
                [formControlName]="paramName"
              />
            </div>
          }

        </div>

      </div>
    }

  </div>
</form>
