@if (!nuovaRichiesta) {
  <div class="richiesta-detail-card">

    <div class="d-flex justify-content-between align-items-center">
      <h5 class="fw-bold mb-0"> Nome Progetto {{ nome }}</h5>
      <span ><strong>ID {{ idProgetto }}</strong></span>
    </div>
    <hr class="my-3">
    <p class="text-dark mb-3">{{ descrizione }}</p>
    <div class="d-flex gap-5">
      <div>
        <div class="text-primary fw-semibold small mb-1 d-flex align-items-center gap-1">
          <svg class="icon icon-sm"><use href="assets/bootstrap-italia/sprites.svg#it-pa"></use></svg>
          Servizi
        </div>
        <div>{{ numeroServizi ?? 0 }}</div>
      </div>
      <div>
        <div class="text-primary fw-semibold small mb-1 d-flex align-items-center gap-1">
          <svg class="icon icon-sm"><use href="assets/bootstrap-italia/sprites.svg#it-calendar"></use></svg>
          Data creazione
        </div>
        <div>{{ createdAt | date:'dd/MM/yyyy' }}</div>
      </div>
    </div>
  </div>
} @else {
  <div class="richiesta-detail-card">
    <div class="d-flex flex-column gap-4 ">
      <h5 class="card-title">Dati progetto</h5>
      <div class="d-flex flex-column gap-3">
        <div>
          <h6>Nome </h6>
          <p>{{nome}}</p>
        </div>
        <div>
          <h6>Link destinazione</h6>
          <p>{{link}}</p>
        </div>
        <div>
          <h6>Descrizione</h6>
          <p class="card-description">{{ descrizione }}</p>
        </div>
      </div>
    </div>
  </div>
}
