.banner {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    padding: 10px 48px;
    color: white;
    gap: 16px;
    height: 72px;
    align-items: center;
}

.banner .logo-icon {
  width: 35px !important;
  min-width: 35px !important;
  max-width: 50px !important;
  height: 48px !important;
  min-height: 48px !important;
  max-height: 95px !important;
  padding: unset;
  display: inline-block;
  flex-shrink: 0;

  /* Utilizza il link ufficiale come background */
  background-image: url("http://www.regione.abruzzo.it/themes/custom/italiagov/stemma-abruzzo.svg#logo");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.user {
    margin-left: auto;
}

.banner h5 {
  font-weight: 600;
  margin: 0px;
  font-size: 20px;
}

.banner h6 {
  font-weight: 400;
  margin: 0px;
  font-size: 16px;
}


.nav {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary-dark);
    padding-left: 48px;
    padding-right: 48px;
    height: 64px;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-links a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
}
