<div class="section-padding">

  <div class="alert p-4"
    [ngClass]="'alert-' + type"
    role="alert">

    <div>
      <div class="d-flex flex-row">

      <svg class="icon icon-sm me-2" aria-hidden="true" >
        <use [attr.href]="'assets/bootstrap-italia/sprites.svg#' + icon"></use>
      </svg>

      <div class="d-flex flex-column gap-2">
      <h5 class="alert-heading">
        {{ titolo }}
      </h5>
        @if (suggerimento) {
          <p class="mb-0 fw-semibold">
            {{ suggerimento }}
          </p>
        }
        @if (messaggi.length) {
        <ul class="mb-0 square-list">
          @for (messaggio of messaggi; track messaggio) {
            <li>{{ messaggio }}</li>
          }
        </ul>
        }
      </div>
    </div>

    </div>
  </div>

</div>

