<div [formGroup]="formGroup">

  @for(param of params; track param.id) {

    <div class="form-field">

      <label [for]="param.id">
        {{ param.name }}
      </label>

      @if(param.paramType === 'String') {
        <input
          class="form-control"
          [id]="param.id"
          type="text"
          [formControlName]="param.name">
      }

      @if(param.paramType === 'integer') {
        <input
          class="form-control"
          [id]="param.id"
          type="number"
          [formControlName]="param.name">
      }

      @if(param.paramType === 'Counter') {

        <button type="button" (click)="decrement(param)">-</button>

        <input
          class="form-control text-center"
          type="number"
          [formControlName]="param.id">

        <button type="button" (click)="increment(param)">+</button>
      }

      <small>
        Min: {{ param.minValue }} - Max: {{ param.maxValue }}
      </small>

    </div>
  }

</div>
